{% comment %}
  Renders a breadcrumb component

  Usage:
  {% render 'misc.breadcrumb'%}
{% endcomment %}

{% unless template.name == 'index' %}
  <nav ui-slot="breadcrumb" data-separator="arrow" aria-label="Breadcrumb" style="margin-block-end: 32px;">
    <ol ui-slot="breadcrumb-group">
      <li ui-slot="breadcrumb-item">
        <a href="/"> Home </a>
      </li>
      {% unless category %}
        <li ui-slot="breadcrumb-item">
          <a href="/" aria-current="page">
            {{ template.name | capitalize }}
          </a>
        </li>
      {% endunless %}
      {% if category %}
        <li ui-slot="breadcrumb-item">
          <a href="/collections"> Collections </a>
        </li>
        <li ui-slot="breadcrumb-item">
          <a href="/" aria-current="page"> {{ category.name | capitalize }} </a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endunless %}
