/* 
  Component: Alert

  Accepts:
    - data-variant: {String} filled | light | lighter | stroke
    - data-status: {String} error | warning | success | information | feature
    - data-size: {String} lg | md | sm

  Usage:
    - <div ui-slot="alert" data-variant="filled" data-status="information" data-size="sm">
        <i class="hgi hgi-stroke hgi-alert-02"></i>
        <span>Insert your alert title here!</span>
        <a ui-slot="link-button" data-size="sm" href="/">Upgrade</a>
      </div>
*/

[ui-slot="alert"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-body-md);

  /* Icon */
  & > i {
    flex-shrink: 0;
    color: var(--color-alert);
    font-size: 20px;

    & + * {
      flex: 1;
    }
  }

  /* Status */
  &[data-status="error"] {
    --color-alert: var(--color-error);
    --color-on-alert: var(--color-on-error);
    --color-alert-container: var(--color-error-container);
    --color-on-alert-container: var(--color-on-error-container);
  }

  &[data-status="feature"] {
    --color-alert: var(--color-on-surface-variant);
    --color-on-alert: var(--color-surface-variant);
    --color-alert-container: var(--color-surface-container);
    --color-on-alert-container: var(--color-on-surface);
  }

  &[data-status="success"] {
    --color-alert: #0b6d36;
    --color-on-alert: #fff;
    --color-alert-container: #9ef6b0;
    --color-on-alert-container: #00210b;
  }

  &[data-status="information"] {
    --color-alert: #414bda;
    --color-on-alert: #fff;
    --color-alert-container: #e0e0ff;
    --color-on-alert-container: #00036b;
  }

  /* Variant */
  &[data-variant="filled"] {
    background-color: var(--color-alert);
    color: var(--color-on-alert);

    i {
      color: currentcolor;
    }
  }

  &[data-variant="light"] {
    background-color: color-mix(
      in srgb,
      var(--color-alert-container),
      var(--color-alert) 30%
    );
    color: var(--color-on-alert-container);
  }

  &[data-variant="lighter"] {
    background-color: var(--color-alert-container);
    color: var(--color-on-alert-container);
  }

  &[data-variant="stroke"] {
    border: 1px solid var(--color-surface-variant);
    box-shadow: 0 16px 32px -12px
      color-mix(in srgb, var(--color-on-background) 15%, transparent);
  }

  /* Size */
  &[data-size="lg"] {
    height: auto;
    gap: var(--spacing-12);
    padding: var(--spacing-14);
    border-radius: var(--radius-md);
  }

  &[data-size="md"] {
    height: 36px;
    padding-inline: var(--spacing-10);
    gap: var(--spacing-8);
    border-radius: var(--radius-sm);
  }

  &[data-size="sm"] {
    height: 32px;
    padding-inline: var(--spacing-8);
    border-radius: var(--radius-sm);
    font: var(--font-body-sm);
    gap: var(--spacing-8);

    & > i {
      font-size: 16px;
    }
  }
}
