[ui-block=collection] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}
[ui-block=collection] .media {
  height: 20vh;
  overflow: hidden;
  border: 1px solid var(--color-surface-variant);
  border-radius: var(--radius-md);
}
[ui-block=collection] .media > img {
  object-fit: cover;
}
[ui-block=collection] .title {
  margin-inline: var(--spacing-2);
  font: var(--font-title-lg);
}

@media (width <= 769px) {
  [ui-block=collection] .media {
    height: 15vh;
  }
  [ui-block=collection] .title {
    font: var(--font-title-md);
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL2Jsb2NrLmNvbGxlY3Rpb24uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6ImJsb2NrLmNvbGxlY3Rpb24uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiW3VpLWJsb2NrPWNvbGxlY3Rpb25dIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTYpO1xufVxuW3VpLWJsb2NrPWNvbGxlY3Rpb25dIC5tZWRpYSB7XG4gIGhlaWdodDogMjB2aDtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tY29sb3Itc3VyZmFjZS12YXJpYW50KTtcbiAgYm9yZGVyLXJhZGl1czogdmFyKC0tcmFkaXVzLW1kKTtcbn1cblt1aS1ibG9jaz1jb2xsZWN0aW9uXSAubWVkaWEgPiBpbWcge1xuICBvYmplY3QtZml0OiBjb3Zlcjtcbn1cblt1aS1ibG9jaz1jb2xsZWN0aW9uXSAudGl0bGUge1xuICBtYXJnaW4taW5saW5lOiB2YXIoLS1zcGFjaW5nLTIpO1xuICBmb250OiB2YXIoLS1mb250LXRpdGxlLWxnKTtcbn1cblxuQG1lZGlhICh3aWR0aCA8PSA3NjlweCkge1xuICBbdWktYmxvY2s9Y29sbGVjdGlvbl0gLm1lZGlhIHtcbiAgICBoZWlnaHQ6IDE1dmg7XG4gIH1cbiAgW3VpLWJsb2NrPWNvbGxlY3Rpb25dIC50aXRsZSB7XG4gICAgZm9udDogdmFyKC0tZm9udC10aXRsZS1tZCk7XG4gIH1cbn1cbiJdfQ== */