[ui-block=product] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}
[ui-block=product] .media {
  height: 35vh;
  overflow: hidden;
  border: 1px solid var(--color-surface-variant);
  border-radius: var(--radius-md);
  text-decoration: none;
}
[ui-block=product] .media > img {
  object-fit: cover;
}
[ui-block=product] .content {
  display: flex;
  gap: var(--spacing-8);
  justify-content: space-between;
}
[ui-block=product] .content .info {
  display: grid;
  gap: var(--spacing-4);
}
[ui-block=product] .content .info .title {
  display: block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[ui-block=product] .content .info .price {
  color: var(--color-primary);
}
[ui-block=product] .content .info .price .compare-at-price {
  opacity: 0.5;
  text-decoration: line-through;
}

@media (width <= 769px) {
  [ui-block=product] .media {
    height: 20vh;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL2Jsb2NrLnByb2R1Y3QuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6ImJsb2NrLnByb2R1Y3QuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiW3VpLWJsb2NrPXByb2R1Y3RdIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTEyKTtcbn1cblt1aS1ibG9jaz1wcm9kdWN0XSAubWVkaWEge1xuICBoZWlnaHQ6IDM1dmg7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWNvbG9yLXN1cmZhY2UtdmFyaWFudCk7XG4gIGJvcmRlci1yYWRpdXM6IHZhcigtLXJhZGl1cy1tZCk7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblt1aS1ibG9jaz1wcm9kdWN0XSAubWVkaWEgPiBpbWcge1xuICBvYmplY3QtZml0OiBjb3Zlcjtcbn1cblt1aS1ibG9jaz1wcm9kdWN0XSAuY29udGVudCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGdhcDogdmFyKC0tc3BhY2luZy04KTtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xufVxuW3VpLWJsb2NrPXByb2R1Y3RdIC5jb250ZW50IC5pbmZvIHtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTQpO1xufVxuW3VpLWJsb2NrPXByb2R1Y3RdIC5jb250ZW50IC5pbmZvIC50aXRsZSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICB3aWR0aDogYXV0bztcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgdGV4dC1vdmVyZmxvdzogZWxsaXBzaXM7XG4gIHdoaXRlLXNwYWNlOiBub3dyYXA7XG59XG5bdWktYmxvY2s9cHJvZHVjdF0gLmNvbnRlbnQgLmluZm8gLnByaWNlIHtcbiAgY29sb3I6IHZhcigtLWNvbG9yLXByaW1hcnkpO1xufVxuW3VpLWJsb2NrPXByb2R1Y3RdIC5jb250ZW50IC5pbmZvIC5wcmljZSAuY29tcGFyZS1hdC1wcmljZSB7XG4gIG9wYWNpdHk6IDAuNTtcbiAgdGV4dC1kZWNvcmF0aW9uOiBsaW5lLXRocm91Z2g7XG59XG5cbkBtZWRpYSAod2lkdGggPD0gNzY5cHgpIHtcbiAgW3VpLWJsb2NrPXByb2R1Y3RdIC5tZWRpYSB7XG4gICAgaGVpZ2h0OiAyMHZoO1xuICB9XG59XG4iXX0= */