.cart-drawer > *:first-child {
  position: relative;
}
.cart-drawer > *:first-child [ui-slot=badge] {
  position: absolute;
  inset-block-end: -25%;
  inset-inline-end: -25%;
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-title-md);
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer .label {
  color: var(--color-on-surface-variant);
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer .value {
  color: var(--color-primary);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL21pc2MuY2FydC1kcmF3ZXIuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6Im1pc2MuY2FydC1kcmF3ZXIuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmNhcnQtZHJhd2VyID4gKjpmaXJzdC1jaGlsZCB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cbi5jYXJ0LWRyYXdlciA+ICo6Zmlyc3QtY2hpbGQgW3VpLXNsb3Q9YmFkZ2VdIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBpbnNldC1ibG9jay1lbmQ6IC0yNSU7XG4gIGluc2V0LWlubGluZS1lbmQ6IC0yNSU7XG59XG4uY2FydC1kcmF3ZXIgI2NhcnRbcG9wb3Zlcl0gW3VpLXNsb3Q9c2hlZXQtYm9keV0ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG59XG4uY2FydC1kcmF3ZXIgI2NhcnRbcG9wb3Zlcl0gW3VpLXNsb3Q9c2hlZXQtYm9keV0gLmZvb3RlciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgZm9udDogdmFyKC0tZm9udC10aXRsZS1tZCk7XG59XG4uY2FydC1kcmF3ZXIgI2NhcnRbcG9wb3Zlcl0gW3VpLXNsb3Q9c2hlZXQtYm9keV0gLmZvb3RlciAubGFiZWwge1xuICBjb2xvcjogdmFyKC0tY29sb3Itb24tc3VyZmFjZS12YXJpYW50KTtcbn1cbi5jYXJ0LWRyYXdlciAjY2FydFtwb3BvdmVyXSBbdWktc2xvdD1zaGVldC1ib2R5XSAuZm9vdGVyIC52YWx1ZSB7XG4gIGNvbG9yOiB2YXIoLS1jb2xvci1wcmltYXJ5KTtcbn1cbiJdfQ== */