[ui-section=single-collection] {
  display: flex;
  gap: var(--spacing-24);
  justify-content: center;
}
[ui-section=single-collection] .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: var(--spacing-24);
}

@media (width <= 1024px) {
  [ui-section=single-collection] .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 769px) {
  [ui-section=single-collection] .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL3NlY3Rpb24uc2luZ2xlLWNvbGxlY3Rpb24uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6InNlY3Rpb24uc2luZ2xlLWNvbGxlY3Rpb24uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiW3VpLXNlY3Rpb249c2luZ2xlLWNvbGxlY3Rpb25dIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTI0KTtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG59XG5bdWktc2VjdGlvbj1zaW5nbGUtY29sbGVjdGlvbl0gLmxpc3Qge1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCg0LCAxZnIpO1xuICB3aWR0aDogMTAwJTtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTI0KTtcbn1cblxuQG1lZGlhICh3aWR0aCA8PSAxMDI0cHgpIHtcbiAgW3VpLXNlY3Rpb249c2luZ2xlLWNvbGxlY3Rpb25dIC5saXN0IHtcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgzLCAxZnIpO1xuICB9XG59XG5AbWVkaWEgKHdpZHRoIDw9IDc2OXB4KSB7XG4gIFt1aS1zZWN0aW9uPXNpbmdsZS1jb2xsZWN0aW9uXSAubGlzdCB7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMiwgMWZyKTtcbiAgfVxufVxuIl19 */