[ui-section=example] {
  display: grid;
  gap: var(--spacing-24);
}
[ui-section=example] .head .title {
  font: var(--font-title-lg);
}
[ui-section=example] .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: var(--spacing-24);
}
[ui-section=example] .pages {
  display: flex;
  gap: var(--spacing-12);
}

@media (width <= 1024px) {
  [ui-section=example] .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 769px) {
  [ui-section=example] .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL3NlY3Rpb24uZXhhbXBsZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoic2VjdGlvbi5leGFtcGxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIlt1aS1zZWN0aW9uPWV4YW1wbGVdIHtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTI0KTtcbn1cblt1aS1zZWN0aW9uPWV4YW1wbGVdIC5oZWFkIC50aXRsZSB7XG4gIGZvbnQ6IHZhcigtLWZvbnQtdGl0bGUtbGcpO1xufVxuW3VpLXNlY3Rpb249ZXhhbXBsZV0gLmxpc3Qge1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCg0LCAxZnIpO1xuICB3aWR0aDogMTAwJTtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTI0KTtcbn1cblt1aS1zZWN0aW9uPWV4YW1wbGVdIC5wYWdlcyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGdhcDogdmFyKC0tc3BhY2luZy0xMik7XG59XG5cbkBtZWRpYSAod2lkdGggPD0gMTAyNHB4KSB7XG4gIFt1aS1zZWN0aW9uPWV4YW1wbGVdIC5saXN0IHtcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgzLCAxZnIpO1xuICB9XG59XG5AbWVkaWEgKHdpZHRoIDw9IDc2OXB4KSB7XG4gIFt1aS1zZWN0aW9uPWV4YW1wbGVdIC5saXN0IHtcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgyLCAxZnIpO1xuICB9XG59XG4iXX0= */