[ui-layout=footer] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
  padding: var(--spacing-24) 8%;
  color: var(--color-on-surface-variant);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy50ZW1wL3NlY3Rpb24uZm9vdGVyLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSIsImZpbGUiOiJzZWN0aW9uLmZvb3Rlci5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJbdWktbGF5b3V0PWZvb3Rlcl0ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgZ2FwOiB2YXIoLS1zcGFjaW5nLTQpO1xuICBwYWRkaW5nOiB2YXIoLS1zcGFjaW5nLTI0KSA4JTtcbiAgY29sb3I6IHZhcigtLWNvbG9yLW9uLXN1cmZhY2UtdmFyaWFudCk7XG59XG4iXX0= */