ui-dev-toolbar {
  .toolbar {
    position: fixed;
    bottom: var(--spacing-24);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius-rounded);

    i {
      color: var(--color-primary);
    }
  }

  [ui-slot="modal-content"] {
    [ui-slot="modal-body"] {
      display: grid;
      gap: var(--spacing-16);

      fieldset {
        display: grid;
        border: none;
        gap: var(--spacing-8);

        [ui-slot="label"] {
          color: var(--color-on-surface-variant);
        }

        .theme-options {
          display: flex;
          gap: var(--spacing-12);

          .theme {
            display: grid;
            gap: var(--spacing-8);
            position: relative;
            cursor: pointer;

            > input[type="radio"] {
              position: absolute;
              scale: 0;
              opacity: 0;
            }

            .label {
              margin-inline: var(--spacing-2);
              font: var(--font-body-sm);
            }

            .icon {
              width: var(--spacing-64);
              height: var(--spacing-48);
              overflow: hidden;
              border: 1px solid var(--color-surface-variant);
              border-radius: var(--radius-sm);
              background-color: var(--color-surface-container-low);

              span {
                display: flex;
                height: 100%;
                margin-block-start: var(--spacing-12);
                margin-inline-start: var(--spacing-12);
                padding-block-start: var(--spacing-4);
                padding-inline-start: var(--spacing-4);
                border-block-start: 1px solid var(--color-surface-variant);
                border-inline-start: 1px solid var(--color-surface-variant);
                background-color: var(--color-surface);
                color: var(--color-on-surface);
                border-start-start-radius: var(--radius-sm);
              }
            }

            &:last-child {
              .icon {
                background-color: var(--color-surface-container-highest);

                span {
                  background-color: var(--color-on-surface);
                  color: color-mix(
                    in srgb,
                    var(--color-surface) 60%,
                    transparent
                  );
                }
              }
            }

            &:has(input[type="radio"]:checked) {
              .icon {
                border-color: var(--color-on-surface);
              }
            }
          }
        }

        .color-options {
          display: flex;
          gap: var(--spacing-12);

          .color {
            & > input[type="radio"] {
              width: 16px;
              height: 16px;
              border-radius: var(--radius-rounded);
              outline: 2px solid transparent;
              outline-offset: 2px;
              background-color: currentcolor;
              appearance: none;
              cursor: pointer;

              &:checked {
                outline-color: currentcolor;
              }

              &[value="green"] {
                color: var(--color-success);
              }

              &[value="blue"] {
                color: var(--color-info);
              }

              &[value="orange"] {
                color: var(--color-warning);
              }

              &[value="red"] {
                color: var(--color-error);
              }
            }
          }
        }
      }
    }
  }
}
