@use "./base/tokens.scss";
@use "./base/colors.scss";
@use "./components/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font: var(--font-body-md);

  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    & > main {
      flex: 2;
    }
  }
}

ul {
  list-style: none;
}
